<header>
    <nav id="top-bar">

        <div class="title">
            <a href="/">
                <h1 class="kashout" style="font-size: 23px;">SupaBasta</h1>
            </a>
        </div>

        <div class="user-login">
            {{?it.user}}
            <div class="balance-bits">
                <span></span>
                <span class="balance">{{#def.format:{n: it.user.balance_satoshis*100, decimals:2} }}</span>
            </div>
            <div class="username">
                <a href="/account">{{=it.user.username}}</a>
            </div>
            {{??}}
          
            <div class="register">
                <a href="/register">Register</a>
            </div>
            <div class="login">
                <a href="/login">Log in</a>
            </div>
            {{?}}
        </div>

        <div class="menu">
            <!-- <ul class="nav-list">
                <li class="nav-item" ><a href="/request" style="color: white;">Faucet</a></li>
                <li class="nav-item" ><a href="/leaderboard" style="color: white;">Leaderboard</a></li>
                <li class="nav-item" ><a href="/stats" style="color: white;">Stats</a></li>
                <li class="nav-item" ><a href="/faq" style="color: white;">FAQ</a></li>
            </ul> -->
        </div>

        <!--         <div class="menu-mobile">
        	<ul class="nav-list">
                <li class="nav-item"><a href="/request"><i class="fa fa-gift"></i></a></li>
                <li class="nav-item"><a href="/leaderboard"><i class="fa fa-users"></i></a></li>
                <li class="nav-item"><a href="/stats"><i class="fa fa-area-chart"></i></a></li>
                <li class="nav-item"><a href="/faq"><i class="fa fa-info"></i></a></li>
            </ul>
        </div> -->


    </nav>
</header>