{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
{{#def.include('head_new')}}

<body class="main_body">

    {{#def.include('header_new')}}
    <div class="wrap wrapper small-10 small-offset-1">




        {{? it.warning }}

        <div class="large-6 large-offset-3">
            <div class="toast warning">
                <div class="outer-container">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div class="inner_container">
                    <h3>Warning</h3>
                    <h3>{{!it.warning}}</h3>
                </div>
            </div>
        </div>



        {{?? it.success}}
        <div class="large-6 large-offset-3">
            <div class="toast success">
                <div class="outer-container">
                    <i class="fas fa-check-circle"></i>
                </div>
                <div class="inner_container">
                    <h3>Success</h3>
                    <h3>{{!it.success}}</h3>
                </div>
            </div>
        </div>


        {{??it.user }}
        {{?it.error}}
        <div class="large-6 large-offset-3">
            <div class="toast error">
                <div class="outer-container">
                    <i class="fas fa-times-circle"></i>
                </div>
                <div class="inner_container">
                    <h3>Error</h3>
                    <h3>{{!it.error}}</h3>
                </div>
                <button>&times;</button>
            </div>
        </div>

        {{??it.user.advice == 'new'}}
        <div class="success-wrap">
            Welcome to SupaBasta, Click the Bet Button to Begin

        </div>
        {{??it.user.advice == 'received'}}
        <div class="success-wrap">
            <!-- Congratulations you have been credited 2 free bits. Have fun! -->
        </div>
        {{?? it.user.advice}}
        <div class="success-wrap">
            {{!it.user.advice}}
        </div>
        {{??it.user && it.user.balance_satoshis < 100 }} {{?it.user.eligible==true}} <div class="success-wrap">
    </div>
    {{?}}
    {{?}}

    {{?}}

    <div class="wrapper_body">

        {{#def.content || ""}}
    </div>

    </div>

</body>

</html>