{{##def.page_title = 'Forgot Password' #}}

{{##def.content:
<script src='https://www.recaptcha.net/recaptcha/api.js'></script>
<script>
	var submitEnabled = true;
	function enableSubmit() {
		submitEnabled = true;
		var s = document.getElementById('forgotSubmit');
		s.style.display = 'block';
	}
</script>
<div class="login">
	<br/>
	<br/>
	<br/>
    <form action="/sent-recover" method="post" onsubmit="return submitEnabled;">
        <div class="row">
            <div class="large-6 large-offset-2 columns">
                <label>Enter your Phone Number (0712XXXXX)
                    <input type="number" name="msisdn" required/>
                </label>
            </div>
        </div>
	    <div class="row">
	    </div>
	    <div class="row">
		    <div class="large-6 large-offset-2 columns">
			    <input  id="forgotSubmit" style="display" class="button right" type="submit" value="Submit"/>
		    </div>
	    </div>
    </form>
</div>
#}}

{{#def.include('./template/main_new')}}