{{##def.page_title = 'How to play' #}}

{{##def.content:
<div class="row faq panel radius">

    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a style="color: white;" href="#how_to_play">How to Play?</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9" style="color: white;">
        <dl>

            <dd>
                <b><a name="how_to_play"></a><p style="color: white;">HOW TO PLAY SupaBasta?</p></b>
                <p>

                <ol style="color: white;">
                    <li style="color: white;">Visit <a href='www.play.SupaBasta.com'>www.SupaBasta.co.ke</a></li>

                    <li style="color: white;"> Click on login to play
                    </li>
                    <li style="color: white;"> Fill in your phone number and password</li>
                    <li style="color: white;">Click on login</li>
                    <li style="color: white;">You will be directed to the home screen to play</li>
                    <li style="color: white;">Fill in the amount you wish to bet and click on Bet</li>
                    <li style="color: white;">Wait for the next round to start, once the game starts, your bet starts
                        MULTIPLYING</li>
                    <li style="color: white;">Click on Kash Out when you are ready to cash out before the game gets
                        BUSTED</li>
                    <li style="color: white;">The amount you Kashed out will be displayed and your money will be added
                        to your wallet</li>
                    instantly.</li>
                    <li style="color: white;">You can also see the list of live players as you play and also chat with
                        players on the screen.
                    </li>
                </ol>

                </p>
            </dd>

        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main_new')}}