{{##def.page_title = 'Security Settings' #}}
{{##def.content:
<script type="text/javascript">
    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').onchange = validatePassword;
            document.getElementById('password').onchange = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        if (password != confirm) {
            document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
        } else document.getElementById("confirmation").setCustomValidity('');
    }
    function logout() {
        if (document.getElementById('logout')) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">


        <div class="" style="overflow-y: auto; height: 400px; color:white ">
            <h5 style="color: white;">Update Your Password</h5>
            <form action="reset-password" method="post">
                <label for="old_password" style="color: white;">Old Password</label>
                <input name="old_password" type="password" id="old_password" autocomplete="off" required />
                <label for="password" style="color: white;">New Password <span class="small">At least 7
                        characters</span></label>
                <input name="password" type="password" id="password" pattern=".{7,50}" required />
                <label for="confirmation" style="color: white;">Confirm Password</label>
                <input name="confirmation" type="password" id="confirmation" pattern=".{7,50}" required />
                <a href="/" class="border-button ">Cancel</a>

                <input type="submit" class="button blue right" value="Change" />
            </form>
            <br>
            <br>
            <hr>

        </div>
</div>
#}}
{{#def.include('./template/main_new')}}