{{##def.page_title = 'Withdraw' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout')) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
    <div class="large-10  large-offset-1 columns sets-content" style="overflow-y: auto; height: 500px">

        

        <a href="/" class="button border-button">Cancel</a>

        <a class="button right" href="/withdraw/request">Withdraw to Mpesa</a>



        <!-- <a class="button right" href="/withdraw/request_agency">Withdraw via Agent</a> -->



        <hr>
        {{?it.user.withdrawals.length > 0}}
        <table>
            <thead>
                       
        <h5 style="color:white">Withdraw History</h5>

                <tr>
                    <td>Amount</td>
                    <td>Status</td>
                    <td>Description</td>
                    <td class="show-for-large-up">Created</td>

                </tr>
            </thead>
            <tbody>
                {{~it.user.withdrawals :withdrawal:index}}
                <tr>
                    <td>{{=withdrawal.amount}}</td>
                    <td>
                        <span class="visible-for-small-only">{{=withdrawal.status}}</span>
                        <span class="show-for-medium-up">{{=withdrawal.status}} </span>

                    </td>
                    <td>

                        <span class="show-for-medium-up">{{=withdrawal.description}} </span>
                        <span class="visible-for-small-only">{{=withdrawal.description}}</span>
                    </td>
                    <td class="show-for-large-up">{{=withdrawal.created}}</td>
                </tr>
                {{~}}
            </tbody>
        </table>
        {{??}}
        <br>
        <br>
        <br>
        <p style="color: white;"> You have no withdrawals in your account.</p>
        {{?}}
    </div>
</div>
</div>

#}}
{{#def.include('./template/main_new')}}