#chart-controls-inner-container {
  min-height: 18rem;
  height: 100%;
}

@media handheld,
only screen and (max-width: 767px) {
  #chart-controls-inner-container {
    min-height: 18rem;
  }
}

/* Big Screens with small controls */
@media handheld,
only screen and (min-width: 767px) {
  #chart-controls-inner-container.small {
    min-height: 25rem;
  }
}


/* Big Screens with small controls */
@media handheld,
only screen and (min-width: 767px) {
  #chart-container.small {
    top: 3px;
    bottom: 3px;
    left: 10px;
    right: calc(50% + 3px);
  }

  #chart-container {
    position: absolute;
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22); */
    padding: 10px 10px 0 8px;
    top: 10px;
    bottom: 20%;

    background-color: #04224e77;
    /* background-image: url("../img//stars.png "); */
    width: 100%;
  }



  #controls-container-inner {
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22); */
    top: 0;
    margin-top: 3px;
    background-color: #04224e77;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }


  #controls-container {
    height: 101%;
    width: 45%;
    overflow: hidden;
    top: 1%;
    left: 55%;
    position: absolute;
  }

  /* #controls-container.small {
    left: 50%;
    background: #03132b;
  } */
}

/* Small Screens */
@media handheld,
only screen and (max-width: 767px) {
  #chart-container {
    top: 0;
    bottom: 9rem;
    height: 52%;
    left: 0;
    background-color: #04224e77;

    right: 0;
  }

  #controls-container {

    position: absolute;
    top: 36%;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #04224e77;
    bottom: 10%;
    left: 0;
    height: 32%;
    right: 0;

  }

  /* 
  #controls-container {
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    height: 25%;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 10vh;
  } */

  /*     
    #chart-container {
        top: 0;
        bottom: 10rem;
        left: 0;
        right: 0;
        margin: 0.5rem;
    }

    #controls-container{
        top: calc(100% - 10rem);
        bottom: 0;
        left: 0;
        right: 0;
        border: none;
        background-color: #03132b; */

  /* } */
}