{{##def.page_title = 'Deposit History' #}}

{{##def.content:
<script src="https://js.paystack.co/v2/inline.js"></script>

<script type="text/javascript">


    function myFunction() {
        var x = document.getElementById("field1");
        document.getElementById('total').innerHTML = "Excise Duty Tax: " + parseFloat(x.value * (0.075 / (1 + 0.075))).toFixed(2) + " /=";
        document.getElementById('net').innerHTML = "Net: " + parseFloat(x.value - (x.value * (0.075 / (1 + 0.075)))).toFixed(2) + " /=";

    }



    function logout() {
        if (document.getElementById('logout')) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }

    function sub() {
        document.getElementById('registerSubmit').submit();

    }

</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius" style="overflow-y: auto; height: 550px">
    <div class="settings">
        <div class="large-8  large-offset-2 columns setts-content">

            <br />
            <br />

            <h5 style="color: white;"  class="label_view">Deposit</h5>
            <hr>


            <p class="account">

            <form action="/deposits" method="post" id="faucetForm">
                <input type="number" placeholder="0" id="field1" onkeyup="myFunction()" name="amount"
                    value="{{=it.user.amount}}">
                <br /><br />
                <a href="/" class="border-button ">Cancel</a>
                <input id="registerSubmit" class="bet-buttons right" data-callback="sub" type="submit" value="REQUEST" />
            </form>

            <br />

            </p>

        </div>


    </div>

    <a href="/">Go Home?</a>
    <br />

</div>
#}}
{{#def.include('./template/main_new')}}