{{##def.page_title = 'Referral' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout')) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Tap to Copy Link";
    }
</script>
<div class="content row panel radius">
    <div class="large-12  columns sets-content">

        <h5 style="color: white;"><b>Affiliation</b></h5>

        <h6 style="color: white;">Make money by referring friends to SupaBasta</h6>


        <h6 style="color: white;">PromoCode <b>{{=it.user.referrals.promo_code}}</b></h6>
        <br />
        <div style="color: white;" class="large-10 large-offset-1">
            <b>Copy and share your Affiliate link</b> or Share your promo Code: <b>{{=it.user.referrals.promo_code}}</b>
            <br />
            <br />

            <input type="text" value="http://play.supabasta.com/register?token={{=it.user.referrals.promo_code}}"
                readonly id="myInput">

            <button onclick="myFunction()" onmouseout="outFunc()">
                <span class="tooltiptext" id="myTooltip">Tap to Copy Link</span>
            </button><br />
        </div>

        <hr>
        <table>
            <thead>
                <tr>
                    <td>Number of Referrals</td>

                    <td>Total Earnings</td>

                    <td>Referral Balance</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{=it.user.referrals.total_referral_counts}}</td>
                    <td>
                        <span class="">{{=it.user.referrals.total_referral_income}}</span>

                    </td>
                    <td>

                        <span class="">{{=it.user.referrals.referred_income}} </span>

                    </td>
                </tr>

            </tbody>
        </table>
        <br>
        <a class="button right" href="/submit_to_wallet">Transfer {{=it.user.referrals.referred_income}} to Wallet</a>
        <a href="/" class="border-button ">Cancel</a>


        <br>
        <br>

    </div>
</div>
</div>

#}}
{{#def.include('./template/main_new')}}